nvim/plugged
nvim/.netrwhist
*.swp
forgit
.nvimlog

tj_nvim
nvim_working
config/Microsoft*
config/teams
config/autostart
config/mimeapps.list
config/dconf
config/pavucontrol.ini
config/GIMP
config/gtk-3.0
config/archlinux-tweak-tool
config/steam-rom-manager
config/spotify
config/rpcs3
config/google-chrome
config/chromium
config/Cemu
config/Insomnia
config/pegasus-frontend
