nvim/plugged
nvim/.netrwhist
*.swp
forgit
.nvimlog

config/zed/
config/thefuck
config/coc
config/configstore
config/karabiner/automatic_backups
config/github-copilot
config/teams-for-linux
config/google-chrome
config/Postman
config/KDE/UserFeedback.org.kde.plasma-welcome.conf
config/PlasmaDiscoverUpdates
config/PlasmaUserFeedback
config/Trolltech.conf
config/baloofilerc
config/dconf/user
config/dolphinrc
config/kactivitymanagerdrc
config/kconf_updaterc
config/kde.org/UserFeedback.org.kde.discover.conf
config/kde.org/UserFeedback.org.kde.dolphin.conf
config/kde.org/UserFeedback.org.kde.plasmashell.conf
config/kded5rc
config/kdedefaults/kcminputrc
config/kdedefaults/kdeglobals
config/kdedefaults/ksplashrc
config/kdedefaults/kwinrc
config/kdedefaults/package
config/kdedefaults/plasmarc
config/kdeglobals
config/kglobalshortcutsrc
config/knfsshare
config/ktimezonedrc
config/kwinoutputconfig.json
config/kwinrc
config/libaccounts-glib/accounts.db
config/libaccounts-glib/accounts.db-shm
config/libaccounts-glib/accounts.db-wal
config/plasma-localerc
config/plasma-org.kde.plasma.desktop-appletsrc
config/plasma-welcomerc
config/plasmashellrc
config/powermanagementprofilesrc
config/pulse/cookie
config/session/dolphin_dolphin_dolphin
config/trashrc
config/user-dirs.dirs
config/user-dirs.locale
config/xsettingsd/xsettingsd.conf
config/Thunar/
config/xfce4
config/pavucontrol.ini
config/spotify
config/google-chrome
config/teams-for-linux
config/Postman
config/Mousepad
config/trizen
config/unity3d
config/libfm
config/discoverrc
config/pcmanfm
config/pacseek
config/gtk-3.0
config/qalculate
config/chromium
config/qcalculate
config/pulse
config/discord
config/session
config/bluedevilglobalrc
config/device_automounter_kcmrc
config/kcminputrc
config/krdpserverrc
config/ksmserverrc
config/Pinta
config/steam-rom-manager
config/rpcs3
config/pegasus-frontend
config/cava
config/Vita3K
config/PCSX2
config/GIMP
config/EmuDeck
config/Cemu
config/guvcview2
config/go/telemetry/*
config/systemmonitorrc
config/Ryujinx
config/archlinux-tweak-tool
config/nextjs-nodejs
config/turborepo
config/QtProject.conf
config/Unknown Organization
config/nitrogen
config/transmission
config/vlc
config/zoom.conf
config/zoomus.conf
config/Podman Desktop
config/obsidian
config/simple-update-notifier
config/bcompare5
config/mockoon
config/Code
config/VirtualBox
config/.gsd-keyboard.settings-ported
config/systemd
config/containers
