/* 
 * Import Pywal colors 
 * ----------------------------------------------------- */
 @import "../../.cache/wal/colors-waybar.css";

@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #000000;
@define-color iconcolor #FFFFFF;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  padding: 4px 0 2px 0;
  background-color: rgba(0, 0, 0, 0);
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: transparent;
  padding: 0px 0px 0px 10px;
  font-weight: bold;
  font-family: "MelsoLGL Nerd Font";
}

#workspaces button {
  font-size: 16px;
  background-color: transparent;
  border-top: solid 2px transparent;
  transition: all 0.3s ease-in-out;
  min-width: 40px;
}

#workspaces button.active {
  border-top: solid 0px @workspacesbackground2;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: @textcolor0;
}

#workspaces button:hover {
  border-top: solid 2px @workspacesbackground2;
  background-color: rgba(0, 0, 0, 0.4);
}

#workspaces button.active:hover {
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: @backgroundlight;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: @backgroundlight;
  margin: 8px 15px 8px 0px;
  padding: 2px 10px 0px 10px;
  border-radius: 12px;
  color: @textcolor2;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-keybindings,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hypridle,
#custom-tools {
  min-width: 24px;
  font-size: 20px;
  font-weight: bold;
  color: @iconcolor;
}

#custom-hypridle.active {
  color: @iconcolor;
}

#custom-hypridle.notactive {
  color: #dc2f2f;
}

#custom-exit {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  font-size: 20px;
  color: @iconcolor;
  opacity: 0.8;
}

#custom-updates, #custom-cliphist {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  min-width: 24px;
  opacity: 0.8;
}

#custom-updates.green {
  background-color: @backgroundlight;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #ffffff;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#language {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: @iconcolor;
}

#language {
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: @backgrounddark;
  font-size: 16px;
  color: @textcolor1;
  border-radius: 15px;
  padding: 1px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
  border: 3px solid @bordercolor;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
}

#pulseaudio.muted {
  background-color: @backgrounddark;
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
}

#network.ethernet {
  background-color: @backgroundlight;
  color: @textcolor2;
}

#network.wifi {
  background-color: @backgroundlight;
  color: @textcolor2;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 15px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
}

#battery.charging,
#battery.plugged {
  color: @textcolor2;
  background-color: @backgroundlight;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  padding: 0px 12px 0px 12px;
  color: @textcolor3;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-chatgpt {
  padding: 0px 4px 0 16px;
  margin: 4px 0px 4px 12px;
  min-width: 10px;
  background-image: url("./assets/openai.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; 
}
