[Desktop Entry]
Type=Application
Name=ML4W Welcome App
Exec=/home/alberto/dotfiles/apps/ML4W_Welcome-x86_64.AppImage
Icon=/home/alberto/dotfiles/apps/ml4w-icon.png
Terminal=false
Categories=Utility