calcurse
zed/
thefuck
coc
configstore
karabiner/automatic_backups
github-copilot
teams-for-linux
google-chrome
Postman
KDE/UserFeedback.org.kde.plasma-welcome.conf
PlasmaDiscoverUpdates
PlasmaUserFeedback
Trolltech.conf
baloofilerc
dconf
dolphinrc
kactivitymanagerdrc
kconf_updaterc
kde.org/UserFeedback.org.kde.discover.conf
kde.org/UserFeedback.org.kde.dolphin.conf
kde.org/UserFeedback.org.kde.plasmashell.conf
kded5rc
kdedefaults/kcminputrc
kdedefaults/kdeglobals
kdedefaults/ksplashrc
kdedefaults/kwinrc
kdedefaults/package
kdedefaults/plasmarc
kdeglobals
kglobalshortcutsrc
knfsshare
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/accounts.db
libaccounts-glib/accounts.db-shm
libaccounts-glib/accounts.db-wal
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse/cookie
session/dolphin_dolphin_dolphin
trashrc
user-dirs.dirs
user-dirs.locale
xsettingsd/xsettingsd.conf
Thunar/
xfce4
pavucontrol.ini
spotify
google-chrome
teams-for-linux
Postman
Mousepad
trizen
unity3d
libfm
discoverrc
pcmanfm
pacseek
gtk-3.0
qalculate
chromium
qcalculate
pulse
discord
session
bluedevilglobalrc
device_automounter_kcmrc
kcminputrc
krdpserverrc
ksmserverrc
Pinta
steam-rom-manager
rpcs3
pegasus-frontend
cava
Vita3K
PCSX2
GIMP
EmuDeck
Cemu
guvcview2
go/telemetry/*
systemmonitorrc
Ryujinx
archlinux-tweak-tool
nextjs-nodejs
turborepo
QtProject.conf
Unknown Organization
nitrogen
transmission
vlc
zoom.conf
zoomus.conf
Podman Desktop
obsidian
simple-update-notifier
bcompare5
mockoon
Code
VirtualBox
.gsd-keyboard.settings-ported
systemd
containers
NayaFlow/
obs-studio/
k9s
Meltytech/
ibus

