.gsd-keyboard.settings-ported
Cemu
Code
EmuDeck
GIMP
KDE/UserFeedback.org.kde.plasma-welcome.conf
Meltytech
Mousepad
NayaFlow
Nickvision Cavalier
PCSX2
Pinta
PlasmaDiscoverUpdates
PlasmaUserFeedback
Podman Desktop
Postman
Postman
QtProject.conf
Ryujinx
Thunar
Trolltech.conf
Unknown Organization
VirtualBox
Vita3K
archlinux-tweak-tool
baloofilerc
bcompare5
bluedevilglobalrc
calcurse
cava
chromium
coc
configstore
containers
dconf
device_automounter_kcmrc
discord
discoverrc
dolphinrc
github-copilot
go
google-chrome
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
guvcview2
ibus
k9s
kactivitymanagerdrc
karabiner/automatic_backups
kcminputrc
kconf_updaterc
kde.org/UserFeedback.org.kde.discover.conf
kde.org/UserFeedback.org.kde.dolphin.conf
kde.org/UserFeedback.org.kde.plasmashell.conf
kded5rc
kdedefaults/kcminputrc
kdedefaults/kdeglobals
kdedefaults/ksplashrc
kdedefaults/kwinrc
kdedefaults/package
kdedefaults/plasmarc
kdeglobals
kglobalshortcutsrc
knfsshare
krdpserverrc
ksmserverrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/accounts.db
libaccounts-glib/accounts.db-shm
libaccounts-glib/accounts.db-wal
libfm
mockoon
nextjs-nodejs
nitrogen
obs-studio
obsidian
pacseek
pavucontrol.ini
pcmanfm
pegasus-frontend
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse
pulse/cookie
qalculate
qcalculate
rpcs3
session
session/dolphin_dolphin_dolphin
simple-update-notifier
spotify
steam-rom-manager
systemd
systemmonitorrc
teams-for-linux
teams-for-linux
thefuck
transmission
trashrc
trizen
turborepo
unity3d
user-dirs.dirs
user-dirs.locale
vlc
xfce4
xsettingsd/xsettingsd.conf
zed
zoom.conf
zoomus.conf

